--swiftversion 5.6

--exclude Pods, vendor

--disable blankLinesAtStartOfScope, blankLinesAtEndOfScope, wrapMultilineStatementBraces, redundantSelf

--indent 4 
--indentcase true
--xcodeindentation false

--commas inline

--emptybraces spaced

--wraparguments before-first
--wrapparameters before-first
--wrapcollections before-first
--closingparen balanced
